.sbcontainer {
    background-position: inherit;
}
#sbst-box {
    float:left;
    width:500px;
    
}
#sbnd-box {
    float:left;
    width:20px;
    height:40px;
    
}

.searchinput{
    width:500px;
    height: 30px;
}